@import url(http://fonts.googleapis.com/css?family=Cousine&subset=latin,cyrillic-ext);

body, html {
  background: #e1e1e1;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.center {
  text-align: center;
}

.main {
  width: 900px;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;

  .browser {
    height: 49%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin-bottom: 1%;

    .tabs {
      height: 50px;
      border-bottom: 1px solid #ddd;

      ul {
        list-style: none;
        margin: 0;
        padding: 10px 5px 0 5px;

        li {
          float: left;
          height: 40px;
          min-width: 130px;
          line-height: 40px;
          margin: 0 2px;
          text-align: center;
          cursor: pointer;
          border-radius: 2px 2px 0 0;
          user-select: none;

          &.active {
            color: white;
            background: #26a69a;
          }

          &:hover {
            color: white;
            background: #26a69a;
          }

        }

      }

    }

    .content {
      height: calc(100% - 50px);
      overflow: auto;
    }

  }

  .terminal {
    height: 50%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    padding-bottom: 50px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Cousine', 'Arial';

    .output {
      height: 100%;
      overflow: auto;
      padding: 5px;
      line-height: 30px;

      .err {
        color: red;
      }

      .err {
        color: red;
      }

    }

    .input {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      border-top: 1px solid #eee;
      box-sizing: border-box;
      padding: 5px;
      background: white;

      input {
        border-width: 0;
        outline: none;
        margin-left: 10px;
        width: 744px;
        height: 36px;
      }

      button {
        border-width: 0;
        background: #26a69a;
        color: white;
        height: 36px;
        width: 120px;
        outline: none;

        &:hover {
          background: #29c0b4;
        }
        &:active {
          background: #26a69a;
        }

      }

    }

  }

}
.clr {
  clear: both;
}

.man {
  position: absolute;
  width: 126px;
  height: 144px;
  bottom: 0;
  right: 0;
  transition: all 0.2s;
  background: url('/img/man.png') 0 0 no-repeat;

  &.hide {
    transform: translateX(100px) translateY(100px) rotate(36deg);
  }

  audio {
    display: none;
  }
}