.icon.chrome
    .wrapText
        .text
            span.gr Ch
            span.red ro
            span.yl me
.icon.firefox
    .wrapText
        .text Firefox
.icon.opera
    .wrapText
        .text Opera
.icon.safari
    .wrapText
        .text Safari
.icon.ie
    .wrapText
        .text Internet Explorer
.clr