.rating
   input(type="radio", id='r1', name="rating", value="1")
   label(for="r1")
   input(type="radio", id='r2', name="rating", value="2", checked)
   label(for="r2")
   input(type="radio", id='r3', name="rating", value="3")
   label(for="r3")
   input(type="radio", id='r4', name="rating", value="4")
   label(for="r4")
   input(type="radio", id='r5', name="rating", value="5")
   label(for="r5")