.paper
   h1 Тестовое задание
   .text
      p Оценил данное задание в 12 часов чистого рабочего времени, и к сожалению не уложился, все было готово за 16 часов
      p Использовал препроцессор SCSS и JADE шаблонизатор, только потому что привык к синтаксису
      p Собиралось все GULP'ом
      p Jquery использовал
      p Тестировал в следующих браузерах: Chrome (последний), Firefox(последний), Opera(последняя), IE (10+)