doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title= build + ' Главная страница'
        if (build == 'prod')
            link(rel='stylesheet', href='/styles.css')
        else
            link(rel='stylesheet', href='/vendor/css/normalize.css')
            link(rel='stylesheet', href='/styles/main.css')
    body
        .main
            .browser
            .terminal(data-terminal)
                .output(data-output)
                    .center *** Welcome to terminal ***
                    div Чтобы получить список команд, выполните команду: help()
                .input
                    input(autofocus, data-input)
                    button(data-run) Выполнить
    if (build == 'prod')
        script(data-main="main" src="/main.js")
    else
        script(data-main="main" src="/vendor/js/jquery.js")
        script(data-main="main" src="/initDomain.js")
        script(data-main="main" src="/controllers/terminal.js")
        script(data-main="main" src="/views/terminal.js")
        script(data-main="main" src="/main.js")