doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title= build + ' Главная страница'
        if (build == 'prod')
            link(rel='stylesheet', href='/styles.css')
        else
            link(rel='stylesheet', href='/vendor/css/normalize.css')
            link(rel='stylesheet', href='/styles/main.css')
            link(rel='stylesheet', href='/styles/progressbar.css')
            link(rel='stylesheet', href='/styles/icons.css')
            link(rel='stylesheet', href='/styles/paper.css')
            link(rel='stylesheet', href='/styles/buttons.css')
            link(rel='stylesheet', href='/styles/rating.css')
    body
        .main
            .browser(data-browser)
                .tabs
                    ul(data-tabs)
                .content(data-content)
                    .tab(data-caption='Текст')
                        include ./blocks/text.html.jade
                    .tab.ratingWrap(data-caption='Рейтинг')
                        include ./blocks/rating.html.jade
                    .tab.prWrap(data-caption='Прогресс бар')
                        include ./blocks/progressbar.html.jade
                    .tab.buttons(data-caption='Кнопка')
                        include ./blocks/button.html.jade
                    .tab.icons(data-caption='Иконки')
                        include ./blocks/icons.html.jade
                    .tab(data-caption='Газета')
                        include ./blocks/paper.html.jade
            .terminal(data-terminal)
                .output(data-output)
                    .center *** Welcome to terminal ***
                    div Чтобы получить список команд, выполните команду: help()
                .input
                    input(autofocus, data-input)
                    button(data-run) Выполнить
        .man.hide(data-man)
            audio(src="/man.mp3")
    if (build == 'prod')
        script(data-main="main" src="/main.js")
    else
        script(data-main="main" src="/vendor/js/jquery.js")
        script(data-main="main" src="/initDomain.js")
        script(data-main="main" src="/controllers/terminal.js")
        script(data-main="main" src="/views/terminal.js")
        script(data-main="main" src="/views/man.js")
        script(data-main="main" src="/views/browser.js")
        script(data-main="main" src="/main.js")